<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Tshirtstore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="adminheader"> 
        <div id="logo">Tshirtstore</div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        Tshirtstore
    </div>
</body>
</html>
